<mat-card>
  <mat-panel-title>Agregar Producto</mat-panel-title>
</mat-card>

<mat-card>
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Sku" formControlName="sku"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('sku').valid && productForm.get('sku').touched">Please enter sku</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Product Name" formControlName="nameProduct"
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!productForm.get('nameProduct').valid && productForm.get('nameProduct').touched">Please enter Product Name</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Product Desc" formControlName="description"
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!productForm.get('description').valid && productForm.get('description').touched">Please enter Product Description</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Product Price List" formControlName="priceList"
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!productForm.get('priceList').valid && productForm.get('priceList').touched">Please enter Product Price</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Product Price Sell" formControlName="priceSell"
             [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!productForm.get('priceSell').valid && productForm.get('priceSell').touched">Please enter Product Price</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Stock" formControlName="stock"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('stock').valid && productForm.get('stock').touched">Please enter Product Price</span>
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="active" >Active</mat-slide-toggle>

    <div class="button-row">
      <button type="submit" [disabled]="!productForm.valid || productForm.prestine" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      <button type="button" mat-flat-button color="primary" (click)="cancelEdit()">Cancel</button>      
    </div>


  </form>


</mat-card>

  
<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">          
  <label for="file"><strong>Arrastra y suelta imágenes acá</strong></label>
  <input hidden type="file" id ="file" multiple #fileInput class="inputfile" (change)="uploadFile($event.target.files)">
</div>
<div  class="files-list" *ngFor="let file of files;let i= index">
    <p> {{ file.name }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
      <mat-icon >delete</mat-icon>
    </button>
</div>
<br>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor='let file of filesToDisplay'>
    <span class="delete-button"><i class="fas fa-trash-alt"></i></span>            
    <button class="image-card" (click)="deleteQuestion(file)"><img [src]='file' class="tile-image" ></button>          
  </mat-grid-tile>
</mat-grid-list>